body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-image: url('images/bg.jpg');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.page-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.page-content {
    border-radius: 2px;
    padding: 80px 56px;
}

.navigation-header {
    min-height: unset;
}

.navigation-header nav {
    justify-content: center;
}
