body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-position: center-horizontal;
    background-image: url('../images/header-bg.jpg');
    /*     -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); */
}

span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.page-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}


/* for fullscreen stuff like the map */

.mdl-layout__content.fullscreen {
    display: flex;
}


/* don't collapse columns in fullscreen
   it may be better to use manual flexing instead of grid
   for the map */

.mdl-layout__content.fullscreen .page-container {
    flex-wrap: nowrap;
}

.round-corners {
    border-radius: 2px;
    overflow: hidden;
    /* chrome bug fix */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    background-color: rgba(255, 255, 255, 0.87)!important;
}

.flex-container {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item-thumb {
    max-width: 176px;
    max-height: 128px;
    text-align: center;
    margin: 8px;
    display: flex;
}

.flex-item-thumb img {
    max-width: 100%;
}

.page-content-text {
    padding: 56px 56px;
}

.page-content {
    padding: 8px;
}

#conditions-container {
    padding: 8px 24px;
    overflow-y: auto;
}

.ymaps-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    z-index: 1;
}

.map-overlay-container {
    display: flex;
    position: relative;
    flex-flow: column;
}

.mat-ico-font-align {
    vertical-align: middle;
    /*   padding-bottom: 3px; */
}

.lira-logo {
    background: url(../images/logo.png) 50% no-repeat;
    background-size: contain;
    /*height: 110px;
    width: 301px;*/
    height: 64px;
    width: 171px;
    margin: auto 0;
    align-self: flex-start;
}

.lira-logo.lira-logo-index {
    position: relative;
    /* width: 40%; */
    /* height: 30vh; */
    margin: 0;
    left: 0;
    /* margin-right: auto; */
    align-self: flex-start;
    margin-left: 0.5vw;
    background-size: 100% auto;
    /* background-clip: inherit; */
    width: 30vw;
    height: 12vw;
    /* flex-grow: 4; */
    margin-top: 7vh;
    /* height: 100%; */
    /* margin-left: -10%; */
}

.lira-logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #0000ff;
    font-weight: bold;
    font-size: 2.3vw;
    /*margin-right: 10v;*/
    /* margin-top: 16px; */
    /* width: 60%; */
    /* margin-right: 24px; */
    text-align: left;
    flex-grow: 1;
    /* align-self: flex-end; */
}

.lira-logo-font.small {
    font-size: 18px;
    /* margin-right: 1.4vw; */
    margin: auto 0px;
    align-self: flex-end;
}

.lira-header {
    position: relative;
    background-color: transparent;
    min-height: 48px;
    display: flex;
    /*     background-image: url(../images/header-bg.jpg); */
    /*     background-size: cover; */
}

.justify-center {
    justify-content: center;
    display: flex;
}

.lira-logo-container {
    width: 824px;
    position: relative;
    background-color: transparent;
    /*     margin-top: 5%; */
    display: flex;
    /*     background-image: url(../images/header-bg.jpg); */
    /*     background-size: cover; */
    /* align-self: center; */
}

@media screen and (max-width: 1024px) {
    .lira-logo-container {
        /*position: relative;*/
        /*background-color: transparent;*/
        /* margin-top: 3%; */
        /*display: flex;*/
        /*     background-image: url(../images/header-bg.jpg); */
        /*     background-size: cover; */
        /*align-self: stretch;*/
    }
}

.lira-main-header .mdl-layout__tab-bar-container {
    position: absolute;
    /* margin-top: 66%; */
    /* top: 0px; */
    /* top: 66%; */
    bottom: 0px;
}

.lira-main-header .mdl-layout__tab-bar-button {
    background: unset;
}

.lira-header.is-compact {
    min-height: unset;
    height: 48px!important;
}

.lira-header.lira-main-header {
    height: calc(66% + 48px/2);
}

.unset-height {
    height: unset;
}

.smaller-header-padding {
    padding: 4px 12px 4px;
}

.lira-header .mdl-layout__tab-bar-container {
    /* position: absolute; */
    height: 48px;
    /* bottom: 0px; */
    /* top: unset; */
}

.lira-tab-bold {
    font-weight: bold;
    flex-grow: 1;
    font-size: 16px;
}

.lira-content-width-center {
    width: calc(66.6666666667% - 16px);
    align-self: center;
    /* position: relative; */
    justify-content: space-between;
}


/* Квадратный макет метки */

.ad_placemark_layout {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 0px solid black;
    background-color: transparent;
    color: #218703;
}

.ad_placemark_layout i {
    left: -2px;
    top: -2px;
    position: absolute;
    font-size: 24px;
    color: #ff9800;
}

.lira-index-content-width {
    width: 70%;
    /*min-width: min(800px, 700px);*/
    height: 100%;
    /* min-width: 400px; */
}

.lira-index-content-width .lira-logo-font {
    margin-right: 3.35vw;
    margin-top: 10vh;
}

.lira-tab-container {
    justify-content: center;
    display: flex;
    /* align-items: center; */
}

.lira-navigation {
    justify-content: center;
    width: auto;
    padding: unset;
    overflow: hidden;
}

.lira-main-navigation {
    height: 48px;
    /*top: 300px;*/
    background-color: rgba(0, 0, 255, 0.7);
    /* display: flex; */
    /* justify-content: center; */
}

.is-compact .mdl-layout__tab-bar-container {
    /* this adds a little rubbery lag when collapsing*/
    height: 96px;
    position: absolute;
}

.lira-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
}

.lira-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.lira-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

.lira-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.lira-navigation-row .is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(255, 82, 82);
    -webkit-animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4, 0, 1, 1);
}

.legend-container {
    position: absolute;
    /* margin-top: 48px; */
    /* margin-right: 4px; */
    align-self: center;
    max-width: 90%;
    max-height: calc(100% - 116px);
    top: 10px;
    margin: 0 auto;
    right: 48px;
    z-index: 2;
    /* align-self: flex-end; */
    /* float: right; */
    padding: 2px 8px;
}

.legend-sample {
    stroke-width: 2;
    fill-opacity: 0.2;
}

.legend-sample.avail {
    fill: #2ccb00;
    stroke: #5cfb00;
}

.legend-sample.na {
    fill: #45454535;
    stroke: #454545;
}

.legend-sample.ad {
    fill: rgb(255, 152, 0);
    stroke: rgb(255, 152, 0);
}

.legend-sample.selected {
    fill: rgb(0, 188, 212);
    stroke: rgb(0, 188, 212);
}

.height-100 {
    height: 100%;
}
